@model IEnumerable<WebApplication_EProject.Models.NhanVienModel.NhanVien>
@{
	ViewBag.Title = "Index";

	List<SelectListItem> listItems = new List<SelectListItem>();
	listItems.Add(new SelectListItem
	{
		Text = "Kích Hoạt",
		Value = "1"
	});
	listItems.Add(new SelectListItem
	{
		Text = "Vô Hiệu Hóa",
		Value = "0"
	});
}

@if (ViewBag.Alert != null)
{
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Thành Công!</strong> @ViewBag.Alert

	</div>
}
@if (ViewBag.problem != null)
{
	<div class="alert alert-danger alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Thất Bại!</strong> @ViewBag.problem

	</div>
}
<h2 style="text-align:center">Thông Tin Nhân Viên</h2>

<div>
	<button href="javascript:void(0);" class="anchorEdit btn btn-warning glyphicon glyphicon-plus" 
			data-toggle="tooltip" data-placement="top" title="Create" onclick="window.location.href='@Url.Action("Create", "NhanViens")'" />
</div>

<body style="background-color: #EBEBEB">
	@Html.AntiForgeryToken()
	<table class="table">
		@using (Html.BeginForm("Index", "NhanViens", FormMethod.Get))
		{
			<tr color: white">

				<td>Search: @Html.TextBox("SearchString")</td>

				<td>Phòng ban: @Html.DropDownList("Role_ID", null, "Lựa chọn phòng ban", htmlAttributes: new { @class = "form-control" })</td>
				<td>Trạng thái: @Html.DropDownList("Status", listItems, "-- Select Status --", htmlAttributes: new { @class = "form-control" })</td>
				<td style="position: relative; top: 25px;">
					<input type="submit" value="Find" />
				</td>

			</tr>
		}
		<tr style="background: #202020;
        color: white">
			<td>
				@Html.DisplayNameFor(model => model.Role.RoleName)
			</td>
			<td>
				Họ và Tên
			</td>
			<td>
				@Html.DisplayNameFor(model => model.Email)
			</td>
			<td>
				@Html.DisplayNameFor(model => model.NgayTao)
			</td>
			<td>
				@Html.DisplayNameFor(model => model.DOB)
			</td>
			<td>
				@Html.DisplayNameFor(model => model.Status)
			</td>
			<th>

			</th>
			<th>

			</th>
			<th>

			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr style=" border: hidden;
                border-color: black;">
				<td>
					@Html.DisplayFor(modelItem => item.Role.RoleName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ten)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NgayTao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DOB)
				</td>
				<td>

					@if (item.Status == 1)
					{
						<p>Kích Hoạt</p>
					}
					else if (item.Status == 0)
					{
						<p> Vô hiệu hóa</p>
					}
				</td>

				<td>
					<button href="javascript:void(0);" data-id="@item.Employee_ID" class="anchorEdit btn btn-warning glyphicon glyphicon-edit"
							data-toggle="tooltip" data-placement="top" title="Edit" onclick="window.location.href='@Url.Action("Edit", "NhanViens", new { id = item.Employee_ID })'" />
				</td>
				<td>
					<button href="javascript:void(0);" data-id="@item.Employee_ID" class="anchorDetail btn btn-info glyphicon glyphicon-info-sign"
							data-toggle="tooltip" data-placement="top" title="Details" onclick="window.location.href='@Url.Action("Details", "NhanViens", new { id = item.Employee_ID })'" />
				</td>
				<td>
					<button href="javascript:void(0);" data-id="@item.Employee_ID" class="anchorDelete btn btn-danger glyphicon glyphicon-trash"
							data-toggle="tooltip" data-placement="top" title="Delete" onclick="window.location.href='@Url.Action("Delete", "NhanViens", new { id = item.Employee_ID })'" />
				</td>
			</tr>
		}

	</table>
	<style>
		/*        .tbl1 {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
			width: 90%;
			margin-left: 5%;
			height: 200px;
		}

			.tbl1 tr {
				position: absolute;
				margin-bottom: 100px;
			}*/

		/*       .btn-creat {


			background: linear-gradient(#f53803,#f5d020);
			padding: 5px;
			color: #fff;
		}*/
	</style>
</body>