@model WebApplication_Panel.Models.Employee
@{
	ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="card custom-card">
		<div class="card-header bg-primary text-white">
			<h3>Register Form</h3>
		</div>
		<div class="card-body">
			<div class="form-group">
				@Html.LabelFor(m => m.Email)
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email)
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary rounded-0">Register</button>
				@Html.ActionLink("Login here", "Login")
			</div>

		</div>
	</div>
}

