@model IEnumerable<WebApplication_Project_Version_2.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Projects", FormMethod.Get))
{
    <p>Nothing: @Html.RadioButton("status", "nothing");</p>
    <p>Continue: @Html.RadioButton("status", "continue");</p>
    <p>Over: @Html.RadioButton("status", "over");</p>
    @Html.TextBox("textname");
    <input type="submit" name="submit" value="submit" />
}
@if (Model.Count() == 0)
{
    <script type="text/javascript">
        alert("Khong co du lieu")
    </script>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectId })
        </td>
    </tr>
}

</table>
