@model IEnumerable<WebApplication_Product_Db.Models.Product_Models.Order>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Order_Detail.Order_DetailName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_CustomerName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_CustomerPhoneNum)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_CustomerAddress)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_Time)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_Detail.Order_DetailQuantity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Order_Detail.Order_DetailPrice)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Order_Detail.Order_DetailName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_CustomerName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_CustomerPhoneNum)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_CustomerAddress)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_Time)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_Detail.Order_DetailQuantity)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Order_Detail.Order_DetailPrice)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
				@Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
			</td>
		</tr>
	}

</table>
