
@{
	ViewBag.Title = "Forget";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div style="
	background: #202020;
	   color: white;
	   border-radius: 1em;
	   padding: 1em;
	   position: absolute;
	   top: 40%;
	   left: 50%;
	   margin-right: -50%;
	   transform: translate(-50%, -50%);
	   text-align: center" class="form-horizontal">
    <div class="card-header bg-primary text-white">
        <h3>Forgot Password</h3>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Input Email: "@*, htmlAttributes: new { @class = "control-label col-md-2" }*@)
        <div style="left: 9%" class="col-md-10">
            <input type="text" class="form-control" name="email" />
            <div style="color:red" class="text-danger">@ViewBag.err_wr_e</div>
        </div>
    </div>

    <div class="form-group">
        @*<div class="col-md-offset-2 col-md-10">*@
            <input type="submit" value="Check" class="btn btn-primary rounded-0" />
        @*</div>*@
    </div>
</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
}


