@model IEnumerable<WebApplication_CodeFirst_Panel_2.Models.EmployeeRoleMapping>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MapId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MapId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MapId })
        </td>
    </tr>
}

</table>
