@model IEnumerable<WebApplication_EProject.Models.QvA.Question>

@{
    ViewBag.Title = "Index";
}
<body style="background-color: #EBEBEB">
    <h2>Index</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr style="background: #202020;
        color: white">
            <th>
                @Html.DisplayNameFor(model => model.NhanVien.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role.RoleName)
            </th>
            <th>
                Tên câu hỏi
                @*@Html.DisplayNameFor(model => model.question_name)*@
            </th>
            <th>
                Chi tiết câu hỏi
                @*@Html.DisplayNameFor(model => model.question_desc)*@
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.question_img)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.question_date)
            </th>

            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NhanVien.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.question_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.question_desc)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.question_img)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.question_date)
                </td>

                <td>
                    <button href="javascript:void(0);" data-id="@item.QuestionId" class="anchorEdit btn btn-warning glyphicon glyphicon-edit"
                            data-toggle="tooltip" data-placement="top" title="Edit" onclick="window.location.href='@Url.Action("Edit", "Questions", new { id = item.QuestionId })'" />
                </td>
                <td>
                    <button href="javascript:void(0);" data-id="@item.QuestionId" class="anchorDetail btn btn-info glyphicon glyphicon-info-sign"
                            data-toggle="tooltip" data-placement="top" title="Details" onclick="window.location.href='@Url.Action("Details", "Questions", new { id = item.QuestionId })'" />
                </td>
                <td>
                    <button href="javascript:void(0);" data-id="@item.QuestionId" class="anchorDelete btn btn-danger glyphicon glyphicon-trash"
                            data-toggle="tooltip" data-placement="top" title="Delete" onclick="window.location.href='@Url.Action("Delete", "Questions", new { id = item.QuestionId })'" />
                </td>
            </tr>
        }

    </table>
    </body>